th {
    color: rgb(37, 31, 114);
    text-align: left;
}

.add-course {
    background-color: rgb(38, 3, 103);
}
.add-course:hover{
    background-color: transparent;
    border: 2px solid rgb(38, 3, 103);
    color: rgb(38, 3, 103);
}

.clear-all {
    background-color: rgb(148, 2, 31);
}